/* Styles for large screens */
@media screen and (min-width: 768px) {
  body {
    margin: 2rem 0 0 2rem
  }
  img {
    float: right;
    margin: 0 0 1rem 1rem;
    max-width: 33%;
    width: auto;
    height: auto;
  }
  .text-block {
    width: 42rem;
  }
}

/* Styles for mobile devices */
@media screen and (max-width: 767px) {
  p {
    width: 100%;
  }
  img {
    float: none;
    margin: 0 auto 1rem auto;
    display: block;
    max-width: 75%;
    width: auto;
    height: auto;
  }
}

/* Set the base font size and line height */
html {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.35;
}

/* Establish the baseline grid */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}

p {
  margin: 0;
  padding-bottom: 1rem;
}

h1,
h2,
h3 {
  margin: 0;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 1.15em;
}

h3 {
  font-size: 1.05em;
}
footer {
  margin-top: 2rem;
  text-align: left;
  bottom: 0;
  width: 100%;
}

ul, ol{
  margin: 0 0 0 0;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  /* Adjust font sizes for mobile screens */
  h1 {
    font-size: 1.5em; /* Adjust the font size of h1 for mobile */
  }

  h2 {
    font-size: 1.25em; /* Adjust the font size of h2 for mobile */
  }
}
