<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<figure> <img src = "images/archeology.jpg" /> <figcaption>На
			докладе К. Б. Гаазе «Археология безопасности: история
			двух кибернетик». Шанинка, Москва, 29 октября 2019, слева
		— Мария Волкова</figcaption> </figure>
		

		<p>Я социолог. В 2018 году я закончил программу по
			фундаментальной социологии в Шанинке, а в 2020-м поступил
			на PhD программу департамента социологии Китайского
			университета Гонконга. Мои научные интересы связаны с
			этнометодологией и социологией спорта.</p>

		<p>На сайте размещён мой <a href = "posts/">блог</a> с
			нерегулярными заметками и наблюдениями. Пользователи
			Telegram могут подписаться на мой канал «<a href =
			"https://t.me/sowhater">Социология воды</a>» с аннотациями
			новых статей в социологических и антропологических
			журналах.</p>

		<p>The site is bilingual. If you don’t know Russian, please
			check the <a href = "en/">English version</a>.

			<div class="recent-publications section">
				<h2 class="section-header">
					{{ i18n "recent_publications" }}
				</h2>
				<p>
					<em>Матвиенко Р. А.</em> Запрос  видеоповтора  в  регби:  последовательность  действий главного судьи // Социология власти. 2018. Т. 30, № 2. С. 101–120. <a href="files/matvienko2018.pdf">PDF</a>, <a href="files/matvienko2018ru.bib">BibTeX</a>
				</p>
			</div>

			<div class="recent-posts section">
				<h2 class="section-header">
					{{ i18n "recent_posts" }}
				</h2>
				<div class="posts">
					{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
					{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
					{{ range $paginator.Pages }}
					<div class="post">
						<div class="meta">{{ dateFormat "2 January 2006" .Date }}{{ if .Draft }} <span class="draft-label">{{T "drafted"}}</span> {{ end }}</div>
						<strong><a class="title" href="{{ .RelPermalink }}">{{.Title}}</a></strong> &emsp; 
						<span class="description">
							{{ if isset .Params "description" }}
							{{ .Description }}
							{{ else }}
							{{ .Summary }}&hellip;
							{{ end }}
						</span>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
	</html>
